
#header
  padding 0 32px
  padding-top 10px
  background-color: #000

.header-wrapper .title a
  text-transform none
  color #fff
  font-size 24px
  
a.nav-link {
    color: #fff;
}
a.nav-link:hover{
   color: #3399ff;
}
a.nav-link.router-link-active {
  color: #3399ff;
}
.mobile-nav-item a.nav-link{
  color: #000;
}
#mobile-header .mobile-header-title .mobile-home-link
  text-transform none
  color $accentColor

#vuepress-theme-blog__post-layout .vuepress-blog-theme-content
  padding 0
  box-shadow none

  .post-title
    margin-top 0
    font-size 26px

.content-wrapper
  padding-top 90px
  padding-bottom 20px
  min-height: calc(100vh - 80px - 90px);

.footer
   height:60px